# Pandas Cheat Sheet for DS

In [2]:
import sys
print(sys.version)
print(sys.version_info)

3.7.3 (default, Apr 24 2019, 15:29:51) [MSC v.1915 64 bit (AMD64)]
sys.version_info(major=3, minor=7, micro=3, releaselevel='final', serial=0)

In [3]:
#import require libs
import pandas as pd
import numpy as np

### shorthand
- __df__ | Any pandas DataFrame object
- __s__ | Any pandas Series object

### Importing Data 
Pandas provides many commands to import data from a variety of different sources and formats.

- ___pd.read_csv(filename)___ | From a CSV file
- ___pd.read_table(filename)___ | From a delimited text file (like TSV)
- ___pd.read_excel(filename)___ | From an Excel file
- ___pd.read_sql(query, connection_object)___ | Read from a SQL table/database
- ___pd.read_json(json_string)___ | Read from a JSON formatted string, URL or file.
- ___pd.read_html(url)___ | Parses an html URL, string or file and extracts tables to a list of dataframes
- ___pd.read_clipboard()___ | Takes the contents of your clipboard and passes it to read_table()
- ___pd.DataFrame(dict)___ | From a dict, keys for columns names, values for data as lists

### Exporting Data
Pandas can export a DataFrame to CSV, .xlsx, SQL, or JSON.

- ___df.to_csv(filename)___ | Write to a CSV file
- ___df.to_excel(filename)___ | Write to an Excel file
- ___df.to_sql(table_name, connection_object)___ | Write to a SQL table
- ___df.to_json(filename)___ | Write to a file in JSON format

### Viewing/Inspecting Data
Use these commands to take a look at specific sections of your pandas DataFrame or Series.

- ___df.head(n)___ | First n rows of the DataFrame
- ___df.tail(n)___ | Last n rows of the DataFrame
- ___df.shape___ | Number of rows and columns
- ___df.dtypes___ | Datatype information
- ___df.info()___ | Index, Datatype and Memory information
- ___df.describe()___ | Summary statistics for numerical columns
- ___s.value_counts(dropna=False)___ | View unique values and counts
- ___df.apply(pd.Series.value_counts)___ | Unique values and counts for all columns

### Selection
Use these commands to select a specific subset of your data.

- ___df[col]___ | Returns column with label col as Series
- ___df[[col1, col2]]___ | Returns columns as a new DataFrame
- ___s.iloc[0]___ | Selection by position
- ___s.loc['index_one']___ | Selection by index
- ___df.iloc[0,:]___ | First row
- ___df.iloc[0,0]___ | First element of first column
- ___df.iloc[0:2, 0:2]___| Selecting specific rows and cols

### Data Cleaning: check null, rename col, missing value handling
Use these commands to perform a variety of data cleaning tasks.

- ___df.columns = ['a','b','c']___ | Rename columns
- ___pd.isnull()___ | Checks for null Values, Returns Boolean Arrray
- ___df.isnull().any()___ | Checks if there is a null value in columns
- ___df.isnull().sum()___ | Show number of null value in columns
- ___pd.notnull()___ | Opposite of pd.isnull()
- ___df.dropna()___ | Drop all rows that contain null values
- ___df.dropna(axis=1)___ | Drop all columns that contain null values
- ___df.dropna(axis=1,thresh=n)___ | Drop all rows have have less than n non null values
- ___df.fillna(x)___ | Replace all null values with x
- ___s.fillna(s.mean())___ | Replace all null values with the mean (mean can be replaced with almost any function from the statistics module)
- ___s.astype(float)___ | Convert the datatype of the series to float
- ___df.astype({"Column_name": str}, errors='raise')___ | Cast a pandas object to a specified dtype
- ___s.replace(1,'one')___ | Replace all values equal to 1 with ‘one’
- ___s.replace([1,3],['one','three'])___ | Replace all 1 with ‘one’ and 3 with ‘three’
- ___df.rename(columns=lambda x: x + 1)___ | Mass renaming of columns
- ___df.rename(columns={'old_name': 'new_ name'})__ | Selective renaming
- ___df.set_index('column_one')___ | Change the index
- ___df.rename(index=lambda x: x + 1)___ | Mass renaming of index

### unique/duplicate value

- ___df['colname'].unique()___ | Find unique values of a column
- ___df.value_counts()___ | Return a Series containing counts of unique rows in the DataFrame
- ___df.duplicated()___ |Return boolean Series denoting duplicate rows
- ___df.drop_duplicates()___ | Return DataFrame with duplicate rows removed

### Join/Combine
Use these commands to combine multiple dataframes into a single one.

- ___df1.append(df2)___ | Add the rows in df1 to the end of df2 (columns should be identical)
- ___pd.concat([df1, df2],axis=1)___ | Add the columns in df1 to the end of df2 (rows should be identical)
- ___df1.join(df2,on=col1,how='inner')___ | SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values. 'how' can be one of 'left', 'right', 'outer', 'inner'
- ___df1.merge(df2, how='inner', on='a')___ | Merge DataFrame or named Series objects with a database-style join.

### Statistics
Use these commands to perform various statistical tests. (These can all be applied to a series as well.)

- ___df.describe()___ | Summary statistics for numerical columns
- ___df.mean()___ | Returns the mean of all columns
- ___df.corr()___ | Returns the correlation between columns in a DataFrame
- ___df.count()___ | Returns the number of non-null values in each DataFrame column
- ___df.max()___ | Returns the highest value in each column
- ___df.min()___ | Returns the lowest value in each column
- ___df.median()___ | Returns the median of each column
- ___df.std()___ | Returns the standard deviation of each column

### Filter, Sort, and Groupby

Use these commands to filter, sort, and group your data.

- ___df[df[col] > 0.5]___ | Rows where the column col is greater than 0.5
- ___df[(df[col] > 0.5) & (df[col] < 0.7)]___ | Rows where 0.7 > col > 0.5
- ___df.sort_values(col1)___ | Sort values by col1 in ascending order
- ___df.sort_values(col2,ascending=False)___ | Sort values by col2 in descending order
- ___df.sort_values([col1,col2],ascending=[True,False])___ | Sort values by col1 in ascending order then col2 in descending order
- ___df.groupby(col)___ | Returns a groupby object for values from one column
- ___df.groupby([col1,col2])___ | Returns groupby object for values from multiple columns
- ___df.groupby(col1)[col2]___ | Returns the mean of the values in col2, grouped by the values in col1 (mean can be replaced with almost any function from the statistics module)
- ___df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean)___ | Create a pivot table that groups by col1 and calculates the mean of col2 and col3
- __df.groupby(col1).agg(np.mean)__ | Find the average across all columns for every unique col1 group
- ___df.apply(np.mean)___ | Apply the function np.mean() across each column
- ___df.apply(np.sum, axis=1)___ | Apply the function np.sum() across each row

### References:
- [1] https://www.dataquest.io/blog/pandas-cheat-sheet/
- [2] https://pandas.pydata.org/docs/reference/index.html